<style type="text/css">
.main-content-inner {float: inherit;}
.Formulario {margin-top: 1.5%}
#map_canvas{height: 300px; width: auto;}
.feedback-box {
  
  padding: 25px;
  
  text-align: left;
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: block;
  z-index: 5;  margin-bottom: 4%;
  margin-top: 4%}

  .location-providers  {
  
  float: left;
  margin: 1px;
  line-height: 1.2;
  min-height: 58px;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  position: relative;
  min-height: 54px;
  margin-right: 0.5%
}


.info{margin-bottom: 3%}
.sizeh5{font-size: 13px}
.big {
  width: 871px;
}
.Filtros{margin-bottom: 3%; margin-top: 1%;}
.Boton{margin-top: 2%}

</style>

<link rel="stylesheet" type="text/css" href="css/loading.css">



<!-- /section:basics/sidebar -->
<div class="main-content" >
	<div class="main-content-inner">
		<!-- #section:basics/content.breadcrumbs -->
		<div class="breadcrumbs" id="breadcrumbs">
			<script type="text/javascript">
				try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
			</script>

			<ul class="breadcrumb">
				<li>
					<i class="ace-icon fa fa-home home-icon"></i>
					<a href="#">Home</a>
				</li>
				<li class="active">Puntos Repetidos <i class="fa fa-bullseye"></i></li>
			</ul><!-- /.breadcrumb -->

		

			<!-- /section:basics/content.searchbox -->
		</div>

		<!-- /section:basics/content.breadcrumbs -->
		<div class="page-content Contenedor"  ng-controller="Arbolito">
			<div class="alert alert-danger alert-dismissible col-md-12" role="alert" id="alerta" style="display:none;">
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				  <strong>Atención!</strong> <p id="ErrorTexto"></p>
			</div>
			<!-- Contenido-->	
			<div class="col-md-12 Contenido">
				<div class="row">
					<h2 class="text-center" style="margin-top:0%">Búsqueda De Puntos</h2>
					<div class="col-md-12 Formulario">

							<form  role="form" name="form" ng-submit="BuscarInformacion()">
							<div class="col-md-2 fecha">
							<label>Desde: </label>
							<div class="input-append date" id="fh_inicio" data-date="" data-date-format="dd-mm-yyyy">
		  					<input class="form-control"  type="text"  ng-click="fecha ('fh_inicio')" ng-model="registro.fechainicio" placeholder="Inicio" required readonly id="fh_desde">
		  					<span class="add-on"><i class="icon-th"></i></span>
							</div><!-- fecha -->
							<div></div>
						</div><!-- fechas -->

						<div class="col-md-2 fecha">
							<label>Hastas: </label>
							<div class="input-append date" id="fh_final" data-date="" data-date-format="dd-mm-yyyy">
		  					<input class="form-control"  type="text" ng-click="fecha ('fh_final')" ng-model="registro.fechafinal" placeholder="Fin" required readonly id="fh_hasta">
		  					<span class="add-on"><i class="icon-th"></i></span>
							</div><!-- fecha -->
						</div><!-- fechas -->

						<div class="col-md-2">
							<label>Cantidad Puntos</label>
							<input type="text" placeholder="cantidad" ng-model="registro.cantidad" class="form-control" required ng-keypress="OnlyNumer($event)" numeric>
						</div><!-- col-md-3 -->

						<div class="col-md-2">
							<label>Opción</label>
							<select ng-model="registro.opcion"
							ng-options="opcion.num_tipo as opcion.descripcion for opcion in opciones" class="form-control" required required>
								<option value="">Seleccionar...</option>
							</select>
						</div><!-- col-md-3 -->

						<div class="col-md-2 Boton">
							<input type="submit" value="Buscar" class="btn btn-success">
						</div>
						</form>
					</div><!-- formulario -->

					<div class="col-md-12 Loading" ng-hide="mostrarbuscando != true">
						<h1 class="text-center">Cargando</h1>
						<div class="sk-spinner sk-spinner-wandering-cubes">
					      <div class="sk-cube1"></div>
					      <div class="sk-cube2"></div>
					    </div>
					</div><!-- loading-->
						<legend> </legend>
					<div class="col-md-12 ContainerPuntos" ng-hide="mostrarPuntos != true">
						<div class="col-md-12">
							<!-- Filtros -->
							<div class="col-md-12 Filtros">
								<div class="col-xs-4">
					              <label for="search">Búsqueda:</label>
					              <input ng-model="q" id="search" class="form-control" placeholder="Filtrado">
					            </div>
					            <div class="col-xs-2">
					              <label for="search">Items Por Página:</label>
					              <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
					            </div>
							</div><!-- filtros -->
				            <!-- final de filtros-->
					                   <table class="table table-striped">
					                   		<thead>
					                   			<tr>
					                   				<th class="text-center">CANTIDAD</th>
					                   				<th class="text-center">NOMBRE</th>
					                   				<th class="text-center">NUMERO</th>
					                   				<th class="text-center">LATITUD</th>
					                   				<th class="text-center">LONGITUD</th>
					                   				<th class="text-center">MAPA</th>
					                   				<th class="text-center">DETALLE</th>
					                   			</tr>
					                   		</thead>
					                   		<tbody>
					                   			<tr dir-paginate="miga in empleadostotal | filter:q | itemsPerPage: pageSize" current-page="currentPage" class="text-center">
					                   				<td>{{miga.cantidad}}</td>
					                   				<td>{{miga.nombre+" "+miga.apaterno+" "+miga.amaterno}}</td>
					                   				<td>{{miga.num_empleado}}</td>
					                   				<td>{{miga.num_latitud}}</td>
					                   				<td>{{miga.num_longitud}}</td>
					                   				<td><button type="button" class="btn btn-success map" ng-click="MostrarMapa(miga.num_latitud,miga.num_longitud,miga.nombre,miga.apaterno,miga.apaterno)"><span class="glyphicon glyphicon-globe"></span></button></td>
					                   				<td>
					                   					<button type="button" class="btn btn-info map" ng-click="Detalles(miga.num_latitud,miga.num_longitud,registro.opcion,miga.num_empleado,miga.nombre,miga.apaterno,miga.apaterno)"><span class="glyphicon glyphicon-list-alt"></span></button>
					                   				</td>
					                   			</tr>
					                   		</tbody>
					                   </table>
					                  <div ng-controller="OtherController" class="other-controller">
							          
							          <div class="text-center">
							          <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="dirPagination.tpl.html"></dir-pagination-controls>
							          </div>
							        </div>
						</div><!-- col-md-8-->
					</div><!-- containerPuntos-->
					
					<!-- modal del mapa-->
						<div class="modal fade" id="modalmapa">
					  <div class="modal-dialog big">
					    <div class="modal-content">
					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					        <h4 class="modal-title text-center">{{nombrem+" "+apaternom+" "+amaternom}}</h4>
					      </div>
					      <div class="modal-body big">
					       		<div id="map_canvas"></div>
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					      </div>
					    </div><!-- /.modal-content -->
					  </div><!-- /.modal-dialog -->
					</div><!-- /.modal -->
					<!-- modal mapa-->

					<!-- modal del detalle-->
						<div class="modal fade" id="modaldetalle">
					  <div class="modal-dialog">
					    <div class="modal-content col-md-12">
					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					        <h4 class="modal-title text-center">{{detallecoordenadas[0].descripcion}}</h4>
					      </div>
					      <div class="modal-body col-md-12">
					       			<div class="col-md-12 info">
					       				<div class="row">	
					       				<div class="col-md-12">
					       					<div class=" col-md-6 ">
					       						<h5 class="text-center sizeh5">Empleado: {{empleadod }}</h5>
					       					</div>	

						       				<div class=" col-md-6 ">
						       					<h5 class="text-center sizeh5">Nombre: {{nombred+" "+apellidopd+" "+apellidomd | uppercase}}</h5>
						       				</div>
					       				</div>
					       				<div class="col-md-12">
					       					<div class=" col-md-6 ">
					       					<h5 class="text-center sizeh5">Latitud: {{latitudd}}</h5>
					       				</div>
					       				<div class=" col-md-6 ">
					       					<h5 class="text-center sizeh5">Longitud: {{longitudd}}</h5>
					       				</div>
					       				</div>
					       				</div><!-- row -->
					       			</div><!-- info -->
					       			<table class="table table-striped col-md-12">
					       				<thead>
					       					<tr>
					       						<th class="text-center">FECHA ALTA</th>
					       						<th class="text-center">FECHA PUNTEO</th>
					       						<th class="text-center">CLIENTE</th>
					       					</tr>
					       				</thead>
					       				<tbody>
					       					<tr ng-repeat="coordenada in detallecoordenadas" class="text-center">
					       						<td>{{coordenada.fec_alta | date:'fullDate'}}</td>
					       						<td>{{coordenada.fec_punteo | date:'fullDate'}} a las {{coordenada.hora_punteo | date:'h:mma'}}</td>
					       						<td>{{coordenada.num_cliente}}</td>
					       					</tr>
					       				</tbody>
					       			</table>
					      </div>
					      <div class="modal-footer col-md-12">
					        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
					      </div>
					    </div><!-- /.modal-content -->
					  </div><!-- /.modal-dialog -->
					</div><!-- /.modal -->
					<!-- modal mapa-->

				</div><!-- row -->
			</div><!-- Contenido -->
		</div><!-- /.page-content -->
	</div>
</div><!-- /.main-content -->

<script type="text/javascript">
	
</script>